*{
    font-family: Arial, Helvetica, sans-serif;
}
  html, body {
      height: 100%;
      margin: 0;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Full height of viewport */
    }
.link{
    text-decoration: none;
    transition: 1s color;
}
.link:hover{
    color:#016;
}

.cbody{
  min-height: 80vh;
  box-shadow: 1px 1px 5px #aaa;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg-ligntgray{
  background-color: #eef;
  margin-top:89px;
}